.header{
   background: rgb(19, 1, 84);
}

.header__body{
   height: 90px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.header__nav{
   display: flex;
   gap: 15px;
   align-items: center;
   justify-content: center;
}

.navlink{
   color: #fff;
   cursor: pointer;
   font-size: 22px;
   font-weight: 700;
   border-bottom: 2px solid transparent;
   transition: all 0.4s ease;
}

.navlink:hover{
   border-bottom: 2px solid #fff;
}
.navlink.active{
   color: red;
}